.main-header {
	background-image: url(./img/bg-header.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	padding-top: 35px;
	min-height: 100vh;
}

.main-header__wrap {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 25px;
}

.main-header__wrap:after {
	position: absolute;
	display: inline-block;
	content: ' ';
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 1px;
	margin: 0 auto;
	background: -webkit-radial-gradient(center, circle, #6C6D72, transparent);
	background: -o-radial-gradient(center, circle, #6C6D72, transparent);
	background: radial-gradient(circle at center, #6C6D72, transparent);
}

.main-header__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.main-header__link {
	font-size: 16px;
	line-height: 1.5;
	display: block;
	color: #ffffff;
	padding: 0px 15px;
	text-transform: uppercase;
	-webkit-transition: 0.3s color, 0.3s background-color;
	-o-transition: 0.3s color, 0.3s background-color;
	transition: 0.3s color, 0.3s background-color;
}

.main-header__link:hover {
	color: #fff;
	text-shadow: 0px 0.5px 0px #fff, 0.5px 0px 0px #fff, 0px -0.5px 0px #fff, -0.5px 0px 0px #fff;
}

.main-header__link--active {
	color: #ffffff;
	text-shadow: 0px 0.5px 0px #fff, 0.5px 0px 0px #fff, 0px -0.5px 0px #fff, -0.5px 0px 0px #fff;
}

.main-header__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-top: 11em;
}

.main-header__content .main-header__col:first-child {
	margin-left: 82px;
	padding-right: 65px;
}

.main-header__content .main-header__col:last-child {
	padding-left: 85px;
}

.main-header__col {
	font-size: 48px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}

.main-header__logo {
	max-width: 185px;
	width: 100%;
}

.main-header__logo img {
	display: block;
	width: 100%;
}

.main-header__description {
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	padding-right: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.mobile-wrap {
	display: none;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	-webkit-transition: 0.5s width;
	-o-transition: 0.5s width;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #ffffff;
	left: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.line-burger:after {
	top: -webkit-calc(100% + 5px);
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: -webkit-calc(100% + 5px);
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

@media screen and (max-width: 1199px) {

.main-header__link {
	font-size: 15px;
}

}

@media screen and (max-width: 1150px) {

.main-header__col {
	font-size: 35px;
}

}

@media screen and (max-width: 960px) {

.main-header__content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-header__content .main-header__col:first-child {
	margin-left: 0px;
	padding-right: 0px;
}

.main-header__content .main-header__col:last-child {
	padding-left: 0px;
}

.main-header__col {
	padding-bottom: 15px;
}

.main-header__logo {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
	margin: 0 auto;
	margin-bottom: 25px;
	max-width: 140px;
}

}

@media screen and (max-width: 780px) {

.main-header {
	padding-top: 25px;
}

.main-header__wrap {
	padding-bottom: 15px;
}

.main-header__list {
	display: none;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 8;
	position: absolute;
	padding: 0px;
	background-color: #ffffff;
	max-height: -webkit-calc(100vh - 70px);
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
}

.main-header__link {
	padding: 6px 10px;
	background-color: #6C6D72;
}

.main-header__link:hover {
	text-shadow: none;
}

.main-header__link--active {
	background-color: #ffffff;
	color: #6C6D72;
	text-shadow: none;
}

.main-header__link--active:hover {
	text-shadow: none;
	color: #6C6D72;
}

.main-header__logo {
	max-width: 110px;
}

.mobile-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 5px 20px;
}

.main-nav__toggle {
	display: block;
}

}

